html, body{
    color: black;
    background-color: #FF6347;
}

#logo{
	width: 340px;
	height: 226px;
	margin: 10px;
	border: 4px solid grey;
    border-radius: 25px;
}

button{
	cursor: pointer;
}

li{
	margin: 5px;
}
#uneaten li{
	background-color: #F0FFFF;
}

#buttons{
	list-style-type: none;
}
